body {
    background-image: url("../images/background.png");
}

.navbar-dark .navbar-brand{
    color: #4aaaa5;
    font-size: 28px;
    font-weight: bold;
}

.content {
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 15px;
    background-color: white;
}

.header-title {
    text-align: left;
}

.content-title {
    color:  #4aaaa5;
    border-bottom: 2px solid #dddddd;
}

.btn-primary {
    background-color: #4aaaa5;
    border: none;
}

.btn-primary:hover {
    background-color: #4aaaa5;
    border: 1px solid #666666;
}


.btn-primary:not(:disabled):not(.disabled):focus {
    background-color: #666666;
    border: 1px solid #dddddd;
}

.card-body, .card-title {
    background-color: #4aaaa5;
    color: #dddddd;
    text-align: center;
    font-size: 24px;
}

footer {
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.profile-link {
    color: white;
}

.profile-link:hover {
    color: #666666;
}

.profile-link:visited {
    color: white;
    text-decoration: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .navbar-brand {
        margin-left: 50px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}